
body{
    /* width: 1349px;
    margin: auto; */
}

.background{
    background-color:rgb(228, 227, 227);
}


.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0 !important;
    border-right: 0 solid;
    border-bottom: 0;
    border-left: 0.solid;
    
}


.aft::after{
    content: "";
    border: 1px solid rgb(87, 81, 81);
    position: absolute;
    width: 150%;
    bottom: -9px;
    left: -20px;
}
.green{
    background-color: rgb(2, 48, 2);
}
.best::after{
    content: "";
    border: 1px solid rgb(87, 81, 81);
    position: absolute;
    width: 90%;
    bottom: -9px;
    left: 10px;
}
.trend::after{
    content: "";
    border: 1px solid rgb(87, 81, 81);
    position: absolute;
    width: 60%;
    bottom: -9px;
    left: 40px;
}
.hot::after{
    content: "";
    border: 1px solid rgb(87, 81, 81);
    position: absolute;
    width: 120%;
    bottom: -9px;
    left: -15px;
}
.planter::after{
    content: "";
    border: 1px solid rgb(87, 81, 81);
    position: absolute;
    width: 130%;
    bottom: -9px;
    left: -20px;
}
.land::after{
    content: "";
    border: 1px solid rgb(87, 81, 81);
    position: absolute;
    width: 90%;
    bottom: -9px;
    left: 0px;
}
.love::after{
    content: "";
    border: 1px solid rgb(87, 81, 81);
    position: absolute;
    width: 110%;
    bottom: -9px;
    left: 0px;
}
.well:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width:0%;
   background-color:green;
  }
.well:hover:after { 
    width: 90%; 
    left: 0; 
  }